<div class="bg-gray-100">

    <!-- page heading -->
    <div class="bg-white px-5 sm:px-10">
        <div class="py-6 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between">
            <div>
                <p class="flex items-center text-yellow-400 text-xs">
                    <span>Portal</span>
                    <span class="mx-2">&gt;</span>
                    <span>Webinars</span>
                </p>
                <h4 class="text-2xl font-bold leading-tight text-gray-800">
                    Upcoming Webinars
                </h4>
            </div>
            <div class="mt-6 md:mt-0 flex items-center">
                <button class="bg-white transition focus:outline-none duration-150 ease-in-out hover:bg-yellow-500 bg-yellow-400 rounded text-white px-2 py-2 text-sm flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
            Webniar
          </button>
            </div>
        </div>
    </div>

    <!-- <div class="bg-white px-5 sm:px-10">
        <div class="py-6 container mx-auto flex flex-col md:flex-row items-start md:items-center justify-between">
            <div>
                <p class="flex items-center text-yellow-400 text-xs">
                    <span>Portal</span>
                    <span class="mx-2">&gt;</span>
                    <span>Webinars</span>
                </p>
                <h4 class="text-2xl font-bold leading-tight text-gray-800">
                    Upcoming Webinars
                </h4>
            </div>
        </div>
    </div> -->

    <!-- cards -->

    <div class="container flex flex-col-reverse lg:flex-row mx-auto w-11/12 mb-10 bg-white shadow rounded mt-10 f-r-t">
        <div class="w-full lg:w-1/2">
            <div class="pt-4 lg:pt-6 pb-4 lg:pb-6 pl-4 lg:pl-6 pr-4 lg:pr-6">
                <div class="flex justify-between items-center lg:items-start flex-row-reverse lg:flex-col">
                    <h4 class="text-base text-yellow-400 tracking-normal leading-4">
                        12:00pm
                    </h4>
                    <h4 class="lg:mt-3 text-gray-600 text-base font-normal">
                        23 August, Sunday
                    </h4>
                </div>
                <h2 class="text-gray-800 mt-4 mb-2 tracking-normal text-xl lg:text-2xl font-bold">
                    Strategies for Moving Online
                </h2>
                <p class="mb-6 font-normal text-gray-600 text-sm tracking-normal w-11/12 lg:w-9/12">
                    We recommend this introduction as a starting point for how to move from face-to-face to online teaching. In this 60-minute webinar, we discuss how to effectively communicate with your students & the range of ways you can deliver content online.
                </p>
                <div class="flex lg:items-center items-start flex-col lg:flex-row">
                    <div class="flex items-center">
                        <div class="border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1569605292330-189ccf83f98b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1558622840-a3330bd26685?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1586548634342-04801afc8b13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1534352909952-981bf1070b3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1582971805810-b24306e0afe7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <p class="text-gray-600 text-xs font-normal ml-1">
                            +12 Attendees
                        </p>
                    </div>
                    <div class="mt-4 lg:mt-0 ml-0 lg:ml-12 flex items-end">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 text-gray-600 icon icon-tabler icon-tabler-map-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="11" r="3" />
              <path d="M17.657 16.657L13.414 20.9a1.998 1.998 0 0 1 -2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0z" />
            </svg>
                        <p class="text-gray-600 text-sm tracking-normal font-normal text-center">
                            Online Seminar
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-5 lg:px-5 md:px-10 py-3 lg:py-4 flex flex-row items-center justify-between border-t border-gray-300">
                <div class="flex items-center">
                    <div class="flex items-center">
                        <div class="bg-white rounded-full w-4 h-4 p-px border border-gray-400 flex flex-shrink-0 justify-center items-center relative">
                            <input checked type="radio" name="radio" class="checkbox1 appearance-none focus:outline-none rounded-full absolute cursor-pointer w-full h-full checked:border-none" />
                            <div class="check-icon1 hidden bg-gray-800 rounded-full w-2 h-2 z-1"></div>
                        </div>
                        <p class="ml-2 text-sm leading-4 font-normal text-gray-800">Going</p>
                    </div>
                    <div class="flex items-center ml-6">
                        <div class="bg-white rounded-full w-4 h-4 p-px border border-gray-400 flex flex-shrink-0 justify-center items-center relative">
                            <input checked type="radio" name="radio" class="checkbox1 appearance-none focus:outline-none rounded-full absolute cursor-pointer w-full h-full checked:border-none" />
                            <div class="check-icon1 hidden bg-gray-800 rounded-full w-2 h-2 z-1"></div>
                        </div>
                        <p class="ml-2 text-sm leading-4 font-normal text-gray-800">Not Going</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <svg class="text-gray-600 hover:text-gray-700 cursor-pointer mr-4 feather feather-bookmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
          </svg>
                    <svg class="text-yellow-400 hover:text-indigo-600 cursor-pointer feather feather-share-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="18" cy="5" r="3"></circle>
            <circle cx="6" cy="12" r="3"></circle>
            <circle cx="18" cy="19" r="3"></circle>
            <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
            <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
          </svg>
                </div>
            </div>
        </div>
        <div class="relative w-full h-64 lg:h-auto lg:w-1/2 rounded-t lg:rounded-t-none lg:rounded-r inline-block relative">
            <img class="w-full h-full absolute inset-0 object-cover rounded-t lg:rounded-r lg:rounded-t-none" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_43.png" alt="banner" />
        </div>
    </div>

    <div class="container flex flex-col-reverse lg:flex-row mx-auto w-11/12 mb-20 bg-white shadow rounded f-r-t">
        <div class="w-full lg:w-1/2">
            <div class="pt-4 lg:pt-6 pb-4 lg:pb-6 pl-4 lg:pl-6 pr-4 lg:pr-6">
                <div class="flex justify-between items-center lg:items-start flex-row-reverse lg:flex-col">
                    <h4 class="text-base text-yellow-400 tracking-normal leading-4">
                        03:00pm
                    </h4>
                    <h4 class="lg:mt-3 text-gray-600 text-base font-normal">
                        14 October, Tuesday
                    </h4>
                </div>
                <h2 class="text-gray-800 mt-4 mb-2 tracking-normal text-xl lg:text-2xl font-bold">
                    Designing Remote Assessment
                </h2>
                <p class="mb-6 font-normal text-gray-600 text-sm tracking-normal w-11/12 lg:w-9/12">
                    This 60-minute webinar provides an overview of key considerations with regard to when and how to transition your planned face-to-face assessments to an online environment.
                </p>
                <div class="flex lg:items-center items-start flex-col lg:flex-row">
                    <div class="flex items-center">
                        <div class="border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1569605292330-189ccf83f98b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1558622840-a3330bd26685?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1586548634342-04801afc8b13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1534352909952-981bf1070b3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <div class="-ml-2 border-2 border-white shadow rounded-full w-6 h-6">
                            <img class="w-full h-full overflow-hidden object-cover rounded-full" src="https://images.unsplash.com/photo-1582971805810-b24306e0afe7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=80" alt="avatar" />
                        </div>
                        <p class="text-gray-600 text-xs font-normal ml-1">
                            +12 Attendees
                        </p>
                    </div>
                    <div class="mt-4 lg:mt-0 ml-0 lg:ml-12 flex items-end">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 text-gray-600 icon icon-tabler icon-tabler-map-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="11" r="3" />
              <path d="M17.657 16.657L13.414 20.9a1.998 1.998 0 0 1 -2.827 0l-4.244-4.243a8 8 0 1 1 11.314 0z" />
            </svg>
                        <p class="text-gray-600 text-sm tracking-normal font-normal text-center">
                            Online Seminar
                        </p>
                    </div>
                </div>
            </div>
            <div class="px-5 lg:px-5 md:px-10 py-3 lg:py-4 flex flex-row items-center justify-between border-t border-gray-300">
                <div class="flex items-center">
                    <div class="flex items-center">
                        <div class="bg-white rounded-full w-4 h-4 p-px border border-gray-400 flex flex-shrink-0 justify-center items-center relative">
                            <input checked type="radio" name="radio1" class="checkbox1 appearance-none focus:outline-none rounded-full absolute cursor-pointer w-full h-full checked:border-none" />
                            <div class="check-icon1 hidden bg-gray-800 rounded-full w-2 h-2 z-1"></div>
                        </div>
                        <p class="ml-2 text-sm leading-4 font-normal text-gray-800">Going</p>
                    </div>
                    <div class="flex items-center ml-6">
                        <div class="bg-white rounded-full w-4 h-4 p-px border border-gray-400 flex flex-shrink-0 justify-center items-center relative">
                            <input checked type="radio" name="radio1" class="checkbox1 appearance-none focus:outline-none rounded-full absolute cursor-pointer w-full h-full checked:border-none" />
                            <div class="check-icon1 hidden bg-gray-800 rounded-full w-2 h-2 z-1"></div>
                        </div>
                        <p class="ml-2 text-sm leading-4 font-normal text-gray-800">Not Going</p>
                    </div>
                </div>
                <div class="flex items-center">
                    <svg class="text-gray-600 hover:text-gray-700 cursor-pointer mr-4 feather feather-bookmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
          </svg>
                    <svg class="text-yellow-400 hover:text-indigo-600 cursor-pointer feather feather-share-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="18" cy="5" r="3"></circle>
            <circle cx="6" cy="12" r="3"></circle>
            <circle cx="18" cy="19" r="3"></circle>
            <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
            <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
          </svg>
                </div>
            </div>
        </div>
        <div class="relative w-full h-64 lg:h-auto lg:w-1/2 rounded-t lg:rounded-t-none lg:rounded-r inline-block relative">
            <img class="w-full h-full absolute inset-0 object-cover rounded-t lg:rounded-r lg:rounded-t-none" src="https://tuk-cdn.s3.amazonaws.com/assets/templates/Education-Portal/ep_44.png" alt="banner" />
        </div>
    </div>
</div>
<page-footer></page-footer>

